<header id="header">
  <!-- logo -->
  <img class="logo" src="{{static_url}}/img/logo-white.png" alt="" />
  <!-- 菜单 -->
  {{include './nav.html'}}
  <!-- 登录、语言等 -->
  <div></div>
</header>
<style>
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-width: 600px;
    padding-top: 16px;
    background-color: #0E2147;
  }
  #header .logo {
    margin: 0 44px;
    width: 150px;
    height: 48px;
  }
</style>
