<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{static_url}}/img/logo.png" />
<meta property="og:url" content="http://{{site.domain}}" />
<meta name="author" content="ChanCMS" />
<link rel="shortcut icon" href="{{static_url}}/img/favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="//unpkg.com/saduo@0.0.3/dist/assets/css/saduo.css" />
<link rel="stylesheet" href="//unpkg.com/saduo-wap@0.0.3/dist/assets/css/saduorem.css" />
<link rel="stylesheet" href="{{static_url}}/css/swiper.min.css" />
<link rel="stylesheet" href="{{static_url}}/css/main.css" />
<link rel="stylesheet" href="{{static_url}}/css/prism.css" />