<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description"content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <title>{{site.name}}</title>
    <meta name="viewport" content="width=1240">
    <link rel="stylesheet" href="{{static_url}}/css/index.css" />
    <link rel="stylesheet" href="{{static_url}}/css/product.css" />
</head>
<body id="product-detail">
    <!-- 头部 -->
    {{include './common/header2.html'}}

    <!-- 主banner区域 -->
    <section class="main-banner">
        <img class="banner-bg" src="{{static_url}}/img/product/1/04.png" alt="汽车banner背景" />
        <div class="banner-content">
            <div class="banner-text">
                <p class="banner-title">长风<span class="banner-subtitle">国产CFD工业软件</span></p>
                <!-- <button class="banner-btn">立即体验</button> -->
            </div>
        </div>
    </section>

    <div class="product-detail-section">
        <div class="product-block">
            <h2>技术特色</h2>
            <div class="feature-list">
                <div class="feature-item">
                    <div class="feature-icon">
                    </div>
                    <div class="content">
                        <div class="feature-title">基于LBM和大涡模拟的瞬态计算方法</div>
                        <p class="feature-desc">高精度瞬态求解
                        </p>
                        <p class="feature-desc">数值粘性低</p>
                        <p class="feature-desc">几何处理简单，保真度高</p>
                        <p class="feature-desc">稳定性好、并行效率高
                        </p>
                        <p class="feature-desc">大涡模拟，直接解析大尺度湍流结构
                        </p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-icon">
                    </div>
                    <div class="content">
                        <div class="feature-title">更快、更高效的前后处理能力</div>
                        <p class="feature-desc">丰富的数据接口</p>
                        <p class="feature-desc">高效的网格处理能力，轻松应对千万级网格</p>
                        <p class="feature-desc">学习成本低，界面及流程体验与主流商软一致</p>
                        <p class="feature-desc">先进的包面、补孔、偏置等几何修补技术</p>
                        <p class="feature-desc">强大的动画显示能力，软件内可流畅播放</p>
                        <p class="feature-desc">支持旋转体转动动画播放</p>
                        <p class="feature-desc">整车特征参数提取</p>
                        <p class="feature-desc">内置作业调度，可实现一键提交、状态监控、一键下载等</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-icon">
                    </div>
                    <div class="content">
                        <div class="feature-title">全面支持企业定制和二次开发，实现功能自动化</div>
                        <p class="feature-desc">代码完全自主可控</p>
                        <p class="feature-desc">求解器封装定制</p>
                        <p class="feature-desc">参数化建模</p>
                        <p class="feature-desc">功能定制开发</p>
                        <p class="feature-desc">自动报告</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <h2>风阻特性仿真</h2>
            <p class="block-desc">在工程应用中，长风软件的风阻仿真精度已达到工业级标准，与主流商软精度相当，并已成功应用于多个量产车型开发，可替代80%以上的常规风洞测试场景，大幅降低研发成本和周期。</p>

            <div class="drag-buttons">
                <button class="drag-btn active">某型SUV计算结果</button>
                <button class="drag-btn">风洞试验与仿真测压点对比</button>
            </div>

            <div class="drag-content">
                <div class="car-models">
                    <img src="{{static_url}}/img/product/1/05.png" alt="风阻仿真1" />
                </div>
            </div>
        </div>

        <div class="product-block">
            <h2>计算效率</h2>
            <p class="block-desc">计算过程稳定且可重复,确保了数据的一致性和可靠性,并行计算效率高,任务提交后可实现"夕发朝至"的高效周转。</p>

            <img src="{{static_url}}/img/product/1/12.png" alt="计算效率" />
        </div>

        <div class="product-block">
            <h2>模型检查</h2>
            <p class="block-desc">模型检查包含法向检查、曲面检查、嵌套检查、关键字检查。法向检查不仅可以检查面片法向的一致性,还可以自动调整曲面法向;曲面检查包含自由边、面相交、面片质量、面接近、T形边、T形点;嵌套检查是检查封闭体内是否嵌套其他几何体;关键字检查是检查边界条件、求解参数等设置是否正确,帮助用户快速定位模型中问题所在,降低调试难度。</p>

            <img src="{{static_url}}/img/product/1/06.png" alt="模型检查" />
        </div>

        <div class="product-block">
            <h2>几何清理</h2>
            <p class="block-desc">几何清理是CFD仿真中关键且耗时的环节,直接影响网格划分和求解效率。长风软件几何清理功能包含:曲面求交、补孔、压边、网格重划、投影、变换(平移、旋转、缩放、镜像)、面片隐藏、面片创建、面片删除、面片拆分、合并重节点。</p>
            <img src="{{static_url}}/img/product/1/07.png" alt="面网格划分前" />
        </div>

        <div class="product-block">
            <h2>包面</h2>
            <p class="block-desc">包面功能生成合适的网格表面,避免直接修改复杂几何表面。在流体仿真中,包面功能对简化几何处理、减少人工操作时间、保证模型完整性具有重要意义。长风软件包面功能可保留特征边,根据曲面曲率自适应调整网格尺寸,并包含泄露检查功能,显示泄露路径供用户参考。</p>

            <img src="{{static_url}}/img/product/1/08.png" alt="包面" />
        </div>

        <div class="product-block">
            <h2>曲面偏置</h2>
            <p class="block-desc">曲面偏置用于网格体加密,在关键区域保证高精度,同时大幅减少整体网格数量,平衡计算精度和效率。该功能可将非封闭片体偏置成封闭曲面。</p>

            <img src="{{static_url}}/img/product/1/09.png" alt="曲面偏置" />
        </div>

        <div class="product-block">
            <h2>网格生成</h2>
            <p class="block-desc">格子玻尔兹曼方法的网格为正交体积网格,软件提供体加密和面加密两种方法。</p>
            <img src="{{static_url}}/img/product/1/11.png" alt="网格生成" />
        </div>

        <div class="product-block">
            <h2>整车特征参数提取</h2>
            <p class="block-desc">车身特征(如前风窗倾角、后风窗倾角、机盖倾角等)对整车流体特性影响显著。软件可自动识别车身部件,一键提取42个参数,包含特征角度、特征长度、特征面积,显示各特征提取详情,并标识超限特征。</p>

            <img src="{{static_url}}/img/product/1/10.png" alt="整车特征参数提取" />
        </div>

        <div class="product-block job-submit-block">
            <h2>作业提交</h2>
            <div class="job-submit-content">
                <div class="job-submit-left">
                    <div class="job-submit-title-row">
                        <img class="job-submit-icon" src="{{static_url}}/img/product/1/02.png" alt="提交工具图标" />
                        <span class="job-submit-title">提交工具</span>
                    </div>
                    <div class="job-submit-desc">
                        长风软件内置的作业提交工具，可以实现再软件内将求解文件一键提交到服务器，在计算过程中将残差回传，针对多个求解任务自动排队，求解结果大文件下载。<br/>
                        同时也支持客户端账号分配，查看服务器剩余计算资源，查看计算日志以及账户算力统计。
                    </div>
                </div>
                <div class="job-submit-right">
                    <img class="job-submit-img" src="{{static_url}}/img/product/1/13.png" alt="作业提交界面" />
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    {{include './common/footer.html'}}
</body>
</html>